In [1]:
# Импортируйте библиотеку pandas как pd. Загрузите два датасета user_data и logs. 
# Проверьте размер таблицы, типы переменных, наличие пропущенных значений, описательную статистику.
# Какой клиент совершил больше всего успешных операций? (success == True)
# С какой платформы осуществляется наибольшее количество успешных операций?
# Какую платформу предпочитают премиальные клиенты?
# Визуализируйте распределение возраста клиентов в зависимости от типа клиента (премиум или нет)
# Постройте график распределения числа успешных операций
# Визуализируйте число успешных операций, сделанных на платформе computer, в зависимости от возраста, 
#   используя sns.countplot (x – возраст, y – число успешных операций). 
# Клиенты какого возраста совершили наибольшее количество успешных действий?

In [12]:
import pandas as pd

In [15]:
user_data = pd.read_csv('d:/Pythoning/user_data.csv')#, encoding='windows-1251')

In [16]:
user_data.head()

   client  premium  age
0   46346    False   58
1    4391    False   55
2   27372    False   64
3   11989    False   44
4   60664    False   49

In [17]:
logs =  pd.read_csv('d:/Pythoning/logs.csv')

In [19]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629