In [113]:
import pandas as pd
from datetime import datetime

In [77]:
df = pd.read_csv('d:\lesson_1_data.csv', encoding = 'windows-1251', sep = ';')

In [78]:
df.head() ## метод

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [79]:
df.shape ## атрибут

(292, 8)

In [80]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [81]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [82]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [83]:
df = df.rename(columns = {'Номер' : 'number', 
               'Дата создания' : 'create_date', 
               'Дата оплаты' : 'payment_date', 
               'Title' : 'title', 
               'Статус' : 'status',
               'Заработано' : 'money', 
               'Город' : 'city', 
               'Платежная система' : 'payment_system'})

In [84]:
df.columns

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [85]:
df.head()

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [102]:
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [86]:
df[['title','number']]

                                                 title   number
0                              Курс обучения «Эксперт»  1062823
1                              Курс обучения «Эксперт»  1062855
2                           Курс обучения «Специалист»  1062856
3                          Курс обучения «Консультант»  1062880
4                              Курс обучения «Эксперт»  1062899
..                                                 ...      ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  1064720
288                        Курс обучения «Консультант»  1064724
289                        Курс обучения «Консультант»  1064775
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  1064793
291  Курс от Школы Диетологов. Повышение квалификац...  1064796

[292 rows x 2 columns]

In [87]:
df.number.dtypes

dtype('int64')

In [88]:
all_money = df.money.sum()

In [89]:
all_money

992103.5900000001

In [90]:
money_by_city = df \
    .groupby(['title','city'], as_index=False) \
    .aggregate({'money':'sum'}) \
    .sort_values(['money','city'], ascending=False) ## сумма заработанных денег с группировкой по названию курсов и городу

In [91]:
money_by_city.to_csv('money_by_city.csv', index=False) ## запись df в файл

In [111]:
money_by_title = df \
    .query("status == 'Завершен'")\
    .groupby(['title'], as_index=False) \
    .aggregate({'money':'sum', 'number':'count'}) \
    .sort_values(['money'], ascending=False) \
    .rename(columns = {'number':'success_orders'}) ## сумма заработанных денег и кол-во заказов (Успешных) с группировкой по названию курсов

In [120]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_by_title {}.csv' ## заготовка названия файла 
file_name = file_name.format(today_day)

In [122]:
## проверка на то что общая сумма совпадает после манипуляций с df 
if int(money_by_title.money.sum()) == int(all_money):
    print('OK! File {} is written.'.format(file_name))
    money_by_title.to_csv(file_name, index=False)
else:
    print('ERROR!!!!!!')

OK! File money_by_title 2022-04-09.csv is written.