In [362]:
# Анализ данных о бронировании отелей
import pandas as pd

In [641]:
bookings = pd.read_csv('d:/bookings.csv', encoding = 'windows-1251', sep = ';')

In [642]:
bookings_head = bookings[:7]

In [643]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [644]:
bookings.columns = bookings.columns.str.lower().str.replace(' ','_')

In [645]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [646]:
# Вариант 1
top5_coutry_success_orders = bookings\
    .query(" is_canceled != 1 ")\
    .groupby('country')\
    .agg({'is_canceled':'count'})\
    .sort_values('is_canceled', ascending=False)\
    .rename(columns ={'is_canceled':'coutry_success_orders'})[:5]

In [647]:
top5_coutry_success_orders

         coutry_success_orders
country
PRT                      21071
GBR                       9676
FRA                       8481
ESP                       6391
DEU                       6069

In [744]:
# Вариант 2
bookings.query(" is_canceled != 1 ")\
    .country\
    .value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [648]:
bookings.query("is_canceled==1").reservation_status.unique()

array(['Canceled', 'No-Show'], dtype=object)

In [455]:
avg_orders_night = bookings\
    .groupby('hotel')\
    .agg({'stays_total_nights':'mean'})\
    .round(2)

In [456]:
avg_orders_night

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [745]:
over_booking_count = bookings\
    .query("assigned_room_type != reserved_room_type") .agg({'assigned_room_type':'count'})

In [458]:
over_booking_count

assigned_room_type    14917
dtype: int64

In [751]:
# Вариант 2
bookings.query("assigned_room_type != reserved_room_type") \
    .assigned_room_type\
    .count()

14917

In [265]:
# На какой месяц чаще всего успешно оформляли бронь в 2016?

In [513]:
better_month_2016 = bookings\
    .query("arrival_date_year == 2016 and is_canceled!=1")\
    .groupby('arrival_date_month')\
    .agg({'stays_total_nights':'count'})\
    .sort_values('stays_total_nights', ascending=False)[:1]

In [514]:
better_month_2016

                    stays_total_nights
arrival_date_month
October                           3689

In [340]:
# Изменился ли самый популярный месяц в 2017?

In [515]:
better_month_2017 = bookings\
    .query("arrival_date_year == 2017 and is_canceled!=1")\
    .groupby('arrival_date_month')\
    .agg({'stays_total_nights':'count'})\
    .sort_values('stays_total_nights', ascending=False)[:1]

In [516]:
better_month_2017

                    stays_total_nights
arrival_date_month
May                               3551

In [503]:
# На какой месяц в году бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [737]:
# вариант 1
(
    bookings\
    .query("hotel == 'City Hotel' and is_canceled==1")\
    .groupby(['arrival_date_year','arrival_date_month'])\
    .agg({'is_canceled':'count'})\
    .sort_values(['arrival_date_year','is_canceled'], ascending=False)#[:1]
)

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        2217
                  April                      1926
                  June                       1808
                  July                       1324
                  March                      1278
                  August                     1123
                  January                    1044
                  February                    971
2016              October                    1947
                  June                       1720
                  September                  1567
                  April                      1539
                  May                        1436
                  November                   1360
                  August                     1247
                  March                      1108
                  December                   1072
                  July                       1043
                  February                    930
                  January                     438
2015              September                  1543
                  October                    1321
                  August                     1232
                  July                        939
                  December                    668
                  November                    301

In [736]:
# вариант 2
(
    bookings\
    .query("hotel == 'City Hotel' and is_canceled==1")\
    .groupby(['arrival_date_year'])\
    .arrival_date_month.value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [ ]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [568]:
ad_ch = bookings[['adults','children','babies']]\
    .mean()\
    .round(2)
#    .agg({'adults':'mean', 'children':'mean', 'babies':'mean' })

In [569]:
ad_ch

adults      1.86
children    0.10
babies      0.01
dtype: float64

In [ ]:
# Создайте колонку total_kids, объединив столбцы children и babies. 
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [711]:
bookings['total_kids'] = bookings.children + bookings.babies ## новоя колонка

In [714]:
total_kids = bookings.groupby(['hotel'])\
    .agg({'total_kids':'mean'})\
    .round(2)

In [715]:
total_kids

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [ ]:
# Task

In [838]:
bookings['has_kids'] = bookings.total_kids > 0 ## новоя колонка

In [839]:
all_clients = bookings.is_canceled.count()

In [840]:
all_clients

119390

In [843]:
client_away = bookings\
    .query("is_canceled == 1")\
    .has_kids\
    .value_counts()#/all_clients *100

In [844]:
client_away.round(2)

False    40965
True      3259
Name: has_kids, dtype: int64

In [855]:
round(bookings\
    .query("is_canceled == 1 and has_kids == False").shape[0]/bookings\
    .query("has_kids == False").shape[0] * 100 ,2)

37.22

In [856]:
round(bookings\
    .query("is_canceled == 1 and has_kids == True").shape[0]/bookings\
    .query("has_kids == True").shape[0] * 100 ,2)

34.92